#portfolio {
  color: #297a4a;
  font-weight: 700;
}
/* .main {
  display: inline-block;

  width: 100%;
  height: 100%;

  background: linear-gradient(to right, #cc9a66 40%, 40%, #fff);
} */

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  width: 90%;
  margin: 6rem auto;
}

/* LEFT SIDE OF CAROUSEL ********************** */

.slide-left {
  width: 15%;

  perspective: 1000px;
}

.slide-left img {
  width: 16.2rem;
  height: 30rem;

  transform: rotateY(-50deg);
}

.bj-slide-img-left {
  display: none;
}

.of-slide-img-left {
  display: none;
}

/* RIGHT SIDE OF CAROUSEL ********************** */

.slide-right {
  width: 15%;

  perspective: 1000px;
}

.slide-right img {
  width: 16.2rem;
  height: 30rem;

  transform: rotateY(50deg);
}

.cv-slide-img-right {
  display: none;
}

.of-slide-img-right {
  display: none;
}

/* MAIN CAROUSEL SIDE *************************** */

.slide-front {
  position: relative;

  flex-shrink: 0;

  background-color: #e3cfba;

  width: 67%;

  box-shadow: -1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.15);

  border-radius: 12px;
}

.project {
  position: relative;

  padding: 2.4rem;
}

.project-cv {
  display: none;
}

.project-bj {
  display: none;
}

.project-of {
  display: flex;
}

.img-box {
  width: 60%;
}

.monitor-img {
  width: 100%;
}

.project-img {
  position: absolute;
  left: 3.7rem;
  top: 3.8rem;

  width: 52.4%;
}

.project-card-text-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 40%;
  padding: 2.4rem 0 2.4rem 2.4rem;
}

h1 {
  color: #333;
  font-size: 2rem;
}

.project-card-description {
  line-height: 1.4;
}

/* PAGINATION **************************************** */

.pagination {
  position: absolute;
  bottom: -4rem;
  right: 50%;
  transform: translateX(50%);
}

.pagination ul {
  display: flex;
  gap: 1.6rem;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  color: #297a4a;
  background-color: #fff;

  border: 1px solid #297a4a;
  border-radius: 50%;
  box-shadow: -0.15rem 0.3rem 0.5rem rgba(0, 0, 0, 0.137);

  width: 3rem;
  height: 3rem;
  transition: all 0.3s;
}

.pagination .p-2 {
  color: #eee;
  background-color: #297a4a;
}

/* LEARN MORE MODAL ********************************** */

.more-modal {
  position: absolute;

  top: -70rem;
  right: -6rem;
  z-index: 2000;

  background-color: #fff;

  border: 1px solid #aaa;
  border-radius: 5px;

  padding: 1rem;

  transition: top 0.3s linear;
}

.more-btn {
  font-size: 1.2rem;

  color: #fff;
  background-color: #297a4a;

  width: 15rem;
}

.checkbox-more {
  position: absolute;
  bottom: 4.7rem;
  right: 7.2rem;
  appearance: none;
  z-index: 100;

  width: 15rem;
  height: 3.6rem;

  cursor: pointer;
}

.close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 3.6rem;
  width: 3.6rem;
  align-self: flex-end;
}

.checkbox-more:checked ~ .more-modal {
  top: -4rem;
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.6);
}

.checkbox-more:checked {
  top: -3rem;
  right: -5rem;
  width: 4rem;
  z-index: 3000;
}

.checkbox-more:checked ~ div .slide-right,
.checkbox-more:checked ~ div .slide-left {
  appearance: none;
}

/* MODAL CONTENT ******************************** */

.more-modal {
  background-color: #eee;
}

.modal-content-of {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  row-gap: 1rem;
}

.modal-img {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: transform 0.5s;

  z-index: 2;

  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-img:first-child:hover {
  transform: scale(200%) translateX(25%) translateY(25%);
  z-index: 3;
  box-shadow: -5rem 5rem 2rem rgba(0, 0, 0, 0.15);
}
.modal-img:nth-child(3):hover {
  transform: scale(200%) translateX(-25%) translateY(25%);
  z-index: 3;
  box-shadow: -5rem 5rem 2rem rgba(0, 0, 0, 0.15);
}
.modal-img:nth-child(6):hover {
  transform: scale(200%) translateX(25%) translateY(-25%);
  z-index: 3;
  box-shadow: -5rem 5rem 2rem rgba(0, 0, 0, 0.15);
}
.modal-img:last-child:hover {
  transform: scale(200%) translateX(-25%) translateY(-25%);
  z-index: 3;
  box-shadow: -5rem 5rem 2rem rgba(0, 0, 0, 0.15);
}

.modal-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
  list-style: none;
  padding: 3.5rem 1rem;
}

.modal-list li {
  font-size: 1.2rem;
}

.modal-list span {
  margin-left: 0.5rem;
}

.modal-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
  padding: 1rem;
}

.tamela-img {
  height: 5rem;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 1rem;

  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.tamela-quote {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.tamela-name {
  font-size: 1.2rem;
}

.modal-lorem {
  padding: 2rem;
}

.modal-lorem h1 {
  font-size: 1.6rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.modal-lorem p {
  font-size: 1.2rem;
}

.modal-cta {
  padding: 1rem;
}

.modal-cta h2 {
  font-size: 1.6rem;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.cta-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cta-btns a {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.6px;

  width: 65%;
  padding: 0.5rem 0;

  transition: all 0.3s;
}

.of-btn:link,
.of-btn:visited {
  color: #555;
  background-color: #fff;

  box-shadow: inset 0 0 0 1px #555, -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.of-btn:hover,
.of-btn:active {
  color: #fff;
  background-color: #cc9a66;
}

.contact-btn:link,
.contact-btn:visited {
  background-color: #297a4a;
  color: #fff;
}

.contact-btn:hover,
.contact-btn:active {
  color: #555;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #555, -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

/* NAVIGATION LEFT / RIGHT*********************** */

.checkbox-left,
.checkbox-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;

  width: 5rem;
  height: 5rem;

  cursor: pointer;
}

.checkbox-left {
  left: 14.2rem;
  z-index: 50;
}

.checkbox-right {
  right: 14.3rem;
  z-index: 50;
}

.checkbox-left:checked ~ .slide-right .of-slide-img-right,
.checkbox-right:checked ~ .slide-left .of-slide-img-left,
.checkbox-right:checked ~ .slide-right .cta-slide-img-right {
  display: block;
}

.checkbox-left:checked ~ .slide-left .cv-slide-img-left,
.checkbox-left:checked ~ .slide-left .bj-slide-img-left,
.checkbox-left:checked ~ .slide-right .bj-slide-img-right,
.checkbox-left:checked ~ .slide-right .cv-slide-img-right,
.checkbox-left:checked ~ .slide-front .project-of,
.checkbox-left:checked ~ .slide-front .project-cv,
.checkbox-right:checked ~ .slide-left .cv-slide-img-left,
.checkbox-right:checked ~ .slide-left .bj-slide-img-left,
.checkbox-right:checked ~ .slide-right .bj-slide-img-right,
.checkbox-right:checked ~ .slide-right .cv-slide-img-right,
.checkbox-right:checked ~ .slide-front .project-of,
.checkbox-right:checked ~ .slide-front .project-bj {
  display: none;
}

.checkbox-left:checked ~ .slide-front .project-cv,
.checkbox-right:checked ~ .slide-front .project-bj {
  display: flex;
}

.checkbox-left:checked ~ .slide-left {
  appearance: none !important;
}
.checkbox-extra:checked ~ .slide-right {
  appearance: none !important;
}

.checkbox-left:checked {
  left: 88.8rem;
  z-index: 100;
}
.checkbox-right:checked {
  left: 14.1rem;
  z-index: 100;
}

.checkbox-extra:checked {
  left: 14rem;
  z-index: 150;
}

.checkbox-left:checked ~ .pagination .p-1 {
  color: #eee;
  background-color: #297a4a;
}

.checkbox-left:checked ~ .pagination .p-2 {
  color: #297a4a;
  background-color: #fff;
}
.checkbox-right:checked ~ .pagination .p-3 {
  color: #eee;
  background-color: #297a4a;
}

.checkbox-right:checked ~ .pagination .p-2 {
  color: #297a4a;
  background-color: #fff;
}

.checkbox-right:checked ~ .slide-front .arrow-right-icon {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
}

.checkbox-left:checked ~ .slide-front .arrow-left-icon {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
}

.arrow-left-icon,
.arrow-right-icon {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);

  color: #fff;
  background-color: #297a4a;

  border-radius: 50%;
  box-shadow: -0 0.4rem 0.2rem rgba(0, 0, 0, 0.137);

  width: 3rem;
  height: 3rem;
  padding: 0.8rem;
}

.arrow-left-icon {
  left: -3.6rem;
}
.arrow-right-icon {
  right: -3.6rem;
}

/* ************************************** */
/* DARK MODE***************************** */
/* ************************************** */

/* MAIN************************************** */

.dark-mode-checkbox:checked ~ div .slide-front {
  background-color: #495057;
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .more-btn {
  color: #89be9e;
}

.dark-mode-checkbox:checked ~ div .arrow-left-icon,
.dark-mode-checkbox:checked ~ div .arrow-right-icon,
.dark-mode-checkbox:checked ~ div h1 {
  color: #89be9e;
}

/* MODAL **************************************** */

.dark-mode-checkbox:checked ~ div .more-modal {
  background-color: #495057;
}

/* ************************************** */
/* QUERIES******************************* */
/* ************************************** */

/* 1200 px *************************************** */
@media (max-width: 75em) {
  /* MAIN ***************** */
  .carousel {
    justify-content: center;
    gap: 1rem;

    width: 95rem;
    padding-right: 3rem;
  }

  .project {
    padding: 3rem 1.6rem 1.6rem 1.6rem;
    height: 100%;
  }

  .slide-front {
    width: 55rem;
    height: 32rem;

    margin-left: 4rem;
  }

  .project-img {
    left: 2.6rem;
    top: 3.8rem;

    width: 53%;
  }

  .project-card-text-box {
    height: 100%;
    padding: 1.2rem 0 1.6rem 1.6rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .more-btn {
    width: 15rem;
    padding: 0.8rem 2rem;
  }

  /* LEARN MORE MODAL ********** */
  .more-modal {
    right: -12rem;
    width: 145%;
  }

  .checkbox-more {
    bottom: 3.2rem;
    right: 3.7rem;
  }

  .checkbox-more:checked {
    top: -3.9rem;
    right: -11rem;
  }

  .checkbox-more:checked ~ .more-modal {
    top: -4.8rem;
    right: -11.7rem;
  }

  .modal-img:first-child:hover {
    transform: scale(200%) translateX(25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:nth-child(3):hover {
    transform: scale(200%) translateX(-25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:nth-child(6):hover {
    transform: scale(200%) translateX(25%) translateY(-25%);
    z-index: 3;
  }
  .modal-img:last-child:hover {
    transform: scale(200%) translateX(-25%) translateY(-25%);
    z-index: 3;
  }

  .modal-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
    list-style: none;
    padding: 3.5rem 1rem;
  }

  .modal-list li {
    font-size: 1.2rem;
  }

  .modal-testimonial {
    margin-top: 0;
  }

  .modal-lorem {
    padding: 1rem;
  }

  .modal-lorem h1 {
    margin-bottom: 1rem;
  }

  .modal-cta h2 {
    margin: 1rem 0 2rem 0;
  }

  .cta-btns a {
    width: 80%;
  }

  /* NAVIGATION LEFT / RIGHT*** */

  .checkbox-left {
    left: 17.6%;
  }

  .checkbox-right {
    right: 15.7rem;
  }

  .checkbox-left:checked {
    left: 74.3rem;
    z-index: 100;
  }

  .checkbox-right:checked {
    left: 16.7rem;
    z-index: 100;
  }
}

/* 900  PX *******************************************/

@media (max-width: 56.25em) {
  /* MAIN ****************** */
  .carousel {
    width: 100%;
  }

  .slide-left {
    display: none;
  }

  .slide-right {
    display: none;
  }

  .slide-front {
    width: 90%;
  }

  .monitor-img {
    width: 90%;
  }

  .project-img {
    left: 2.6rem;
    top: 4.1rem;

    width: 48.9%;
  }

  .project-card-text-box {
    padding: 2.4rem 1.6rem 2.4rem 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  /* LEARN MORE MODAL *********** */

  .more-modal {
    right: -3.5rem;
    width: 110%;
  }
  .checkbox-more:checked ~ .more-modal {
    top: -5rem;
    right: -3rem;
  }

  .checkbox-more {
    bottom: 4rem;
    right: 6.1rem;
    width: 18rem;
  }

  .checkbox-more:checked {
    top: -4.2rem;
    right: -2.3rem;
    width: 4rem;
    z-index: 3000;
  }

  .modal-img:first-child:hover {
    transform: scale(200%) translateX(25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:nth-child(3):hover {
    transform: scale(200%) translateX(-25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:nth-child(6):hover {
    transform: scale(200%) translateX(25%) translateY(-25%);
    z-index: 3;
  }
  .modal-img:last-child:hover {
    transform: scale(200%) translateX(-25%) translateY(-25%);
    z-index: 3;
  }

  /* NAVIGATION LEFT / RIGHT***** */

  .checkbox-left,
  .checkbox-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* appearance: none; */

    width: 5rem;
    height: 5rem;

    cursor: pointer;
  }

  .checkbox-left {
    left: 2.6%;
    z-index: 50;
  }

  .checkbox-right {
    left: 92.5%;
    z-index: 50;
  }

  .checkbox-left:checked {
    left: 92.5%;
    width: 6rem;
    height: 6rem;
  }
  .checkbox-right:checked {
    left: 1.2%;
    width: 6rem;
    height: 6rem;
  }
}

/* 738  PX *******************************************/
@media (max-width: 46.125em) {
  /* MAIN ******************** */
  .project-img {
    width: 47.1%;
  }

  .project-card-text-box {
    padding: 1.6rem 1.6rem 2.4rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  /* LEARN MORE MODAL *********** */

  .checkbox-more:checked ~ .more-modal {
    top: -4rem;
    right: -2.5rem;
  }

  .checkbox-more:checked {
    top: -3.1rem;
    right: -1.6rem;
  }

  .modal-content-of {
    align-items: center;
    gap: 0;
  }

  .modal-list ul {
    gap: 1rem;
    padding: 1.6rem 1rem;
  }

  .modal-list li {
    font-size: 1.2rem;
  }

  .modal-lorem {
    text-align: center;

    padding: 1rem;
  }

  .modal-lorem h1 {
    font-size: 1.4rem;
  }

  .modal-cta {
    text-align: center;
  }

  .modal-cta h2 {
    font-size: 1.4rem;
  }

  .cta-btns a {
    width: 90%;
  }

  .checkbox-more {
    right: 4.6rem;
  }

  .checkbox-more:checked {
    right: -1.6rem;
  }

  /* NAVIGATION LEFT / RIGHT ***** */

  .checkbox-left {
    left: 2.2%;
  }

  .checkbox-right {
    left: 91.8%;
  }

  .checkbox-left:checked {
    left: 91.1%;
    width: 6rem;
    height: 6rem;
  }
}

/* 600 px ********************************** */

@media (max-width: 37.5em) {
  /* MAIN *************** */
  .project {
    flex-direction: column;
    padding: 3rem 2.4rem 3rem 2.4rem;
  }

  .slide-front {
    width: 80%;
    height: 100%;

    margin-left: 4rem;
  }

  .img-box {
    width: 100%;
  }

  .monitor-img {
    width: 100%;
  }

  .project-img {
    left: 3.5rem;
    top: 4.2rem;

    width: 84%;
  }

  .project-card-text-box {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1.6rem;
  }

  .project-card-description {
    line-height: 1.4;
    margin-bottom: 3rem;
  }

  /* LEARN MORE MODAL ****** */

  .more-modal {
    top: -150rem;
    right: -0.8rem;
  }

  .checkbox-more:checked ~ .more-modal {
    top: -4.2rem;
    right: -2rem;
    width: 115%;
  }

  .modal-content-of {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .modal-img:first-child:hover {
    transform: scale(200%) translateX(25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:nth-child(3):hover {
    transform: scale(200%) translateX(-25%);
    z-index: 3;
  }
  .modal-img:nth-child(6):hover {
    transform: scale(200%) translateX(25%) translateY(25%);
    z-index: 3;
  }
  .modal-img:last-child:hover {
    transform: scale(200%) translateX(-25%) translateY(-25%);
    z-index: 3;
  }

  .modal-list ul {
    gap: 1.6rem;
    padding: 3.5rem 1.6rem;
  }

  .modal-list li {
    font-size: 1.6rem;
  }

  .modal-testimonial {
    grid-column: 1;
    grid-row: 2;
  }

  .tamela-img {
    height: 7rem;
  }

  .tamela-quote {
    font-size: 1.4rem;
  }

  .modal-lorem {
    grid-column: 2;
    grid-row: 3;
  }

  .modal-lorem h1 {
    font-size: 1.8rem;
  }

  .modal-lorem p {
    font-size: 1.4rem;
  }

  .modal-cta h2 {
    font-size: 1.8rem;
    margin: 2rem 0 3rem 0;
  }

  .cta-btns a {
    font-size: 1.4rem;
  }

  .checkbox-more {
    bottom: 5.4rem;
    right: 13.8rem;
  }

  .checkbox-more:checked {
    top: -3.2rem;
  }

  /* NAVIGATION LEFT / RIGHT***** */

  .checkbox-left {
    left: 6%;
    z-index: 50;
  }

  .checkbox-right {
    left: 86.6%;
  }

  .checkbox-left:checked {
    left: 46.8rem;
    z-index: 100;
  }
  .checkbox-right:checked {
    left: 3.1rem;
    z-index: 100;
  }
}

/* 550 px **************************************** */

@media (max-width: 34.375em) {
  .project-img {
    left: 3.5rem;
    top: 4.2rem;

    width: 83%;
  }

  .checkbox-more {
    bottom: 5.4rem;
    right: 10.8rem;
  }

  .modal-list li {
    font-size: 1.2rem;
  }
}

/* 500 px **************************************** */
@media (max-width: 31.25em) {
  .project-img {
    width: 81.7%;
  }
}
/* 450 px **************************************** */
@media (max-width: 28.125em) {
  /* MAIN ********************* */
  .carousel {
    justify-content: flex-start;
  }

  .slide-front {
    width: 88%;
  }

  .project {
    width: 100%;
  }

  .project-img {
    left: 3.3rem;
    top: 3.9rem;

    width: 82%;
  }

  h1 {
    font-size: 2rem;
  }

  .checkbox-more {
    right: 9.1rem;
  }

  .checkbox-left {
    left: 1%;
  }

  .checkbox-right {
    left: 88.6%;
  }

  .checkbox-left:checked {
    left: 88.6%;
  }

  .checkbox-right:checked {
    left: 1%;
  }
}

/* 400 px ********************************** */

@media (max-width: 25em) {
  .checkbox-more {
    right: 6.1rem;
  }

  .project-img {
    width: 79%;
  }

  /* LEARN MORE MODAL ****** */

  .checkbox-more:checked ~ .more-modal {
    top: -5rem;
    right: -1.9rem;
  }

  .checkbox-more:checked {
    top: -4rem;
    right: -1rem;
  }

  .modal-img:first-child:hover {
    transform: scale(200%) translateX(25%) translateY(25%);
    z-index: 3;
  }

  .modal-img:nth-child(3):hover {
    transform: scale(200%) translateX(-25%);
  }

  .modal-img:nth-child(6):hover {
    transform: scale(200%) translateX(25%) translateY(25%);
  }

  .modal-img:last-child:hover {
    transform: scale(200%) translateX(-25%) translateY(-25%);
  }

  .modal-list ul {
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .tamela-img {
    height: 5rem;
  }

  .tamela-quote {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .tamela-name {
    font-size: 1rem;
  }

  .modal-lorem {
    padding: 1rem;
  }

  .modal-lorem h1 {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .modal-lorem p {
    font-size: 1.2rem;
  }

  .modal-cta {
    padding: 1rem;
  }

  .modal-cta h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .cta-btns a {
    width: 90%;
    font-size: 1.2rem;
  }
}

/* 350 px **************************** */

@media (max-width: 21.875em) {
  .project-img {
    left: 3rem;
    top: 3.6rem;
    width: 77%;
  }
}
