/* MAIN************************************** */

.dark-mode-checkbox:checked ~ div .slide-front {
  background-color: #495057;
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .more-btn {
  color: #89be9e;
}

.dark-mode-checkbox:checked ~ div .arrow-left-icon,
.dark-mode-checkbox:checked ~ div .arrow-right-icon,
.dark-mode-checkbox:checked ~ div h1 {
  color: #89be9e;
}

/* MODAL **************************************** */

.dark-mode-checkbox:checked ~ div .more-modal {
  background-color: #495057;
}
