/* DARK******''***************************** */

.dark-mode-checkbox:checked ~ div .hero-card-left {
  background-color: #495057;
  color: #aaa;
  transition: all 0.3s linear;
}

.dark-mode-checkbox:checked ~ div .hero-social {
  background-color: #aaa;
  transition: all 0.3s linear;
}

.dark-mode-checkbox:checked ~ div .social-icon {
  color: #297a4a;
  transition: all 0.3s linear;
}

.dark-mode-checkbox:checked ~ div h1,
.dark-mode-checkbox:checked ~ div h2,
.dark-mode-checkbox:checked ~ div h4,
.dark-mode-checkbox:checked ~ div span,
.dark-mode-checkbox:checked ~ div p,
.dark-mode-checkbox:checked ~ div .btn-resume {
  color: #aaa;
  transition: all 0.3s linear;
}

.dark-mode-checkbox:checked ~ div .btn-projects {
  background-color: #000;
  color: #aaa;
  box-shadow: none;
  transition: all 0.3s linear;
}

.dark-mode-checkbox:checked ~ div .btn-projects:hover,
.dark-mode-checkbox:checked ~ div .btn-resume:hover {
  background-color: #aaa;
  color: #000;
}

.dark-mode-checkbox:checked ~ div .download-btn {
  color: #aaa !important;
}

.dark-mode-checkbox:checked ~ div .download-btn:hover {
  color: #000 !important;
  background-color: #aaa;
}
