#resume {
  font-weight: 700;
  color: #297a4a;
}

.print {
  display: none;
}

.container-inner {
  margin: 3rem auto;
  width: 80%;
}

.experience {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr / repeat(7, 1fr);

  color: #fff;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url("img/background.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  box-shadow: -1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.15);

  padding: 3rem;
}

.time-line {
  position: absolute;
  right: 51%;
  transform: translateX(50%);

  border-left: 3px solid #b9ffd5;

  margin-top: 16rem;

  height: 100%;

  animation: 5s draw-line;
}

@keyframes draw-line {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.job-right .date::before,
.job-left .date::before {
  content: " ";
  position: absolute;
  right: 51%;
  transform: translateX(50%);

  width: 2rem;
  height: 2rem;

  background-color: #b9ffd5;
  border-radius: 50%;
}

.wine {
  grid-column: 2;
  grid-row: 2;

  opacity: 100%;

  animation: 0.2s appear;
}

.offsides {
  grid-column: 1;
  grid-row: 3;
  text-align: right;

  opacity: 100%;

  animation: 1.2s appear;
}

.jimmys {
  grid-column: 2;
  grid-row: 4;

  animation: 1.8s appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  75% {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
.olearys {
  grid-column: 1;
  grid-row: 5;
  text-align: right;

  animation: 2.5s appear;
}

.job-right {
  padding: 4rem 2rem 4rem 5rem;
}

.job-left {
  padding: 4rem 5rem 4rem 2rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;

  margin: 2rem;
}

.work-icon {
  color: #b9ffd5;
  --ionicon-stroke-width: 5rem;

  width: 3rem;
  height: 3rem;
}

h1 {
  font-size: 3rem;

  color: #b9ffd5;
}

.date {
  font-size: 2rem;
  font-weight: inherit;
  text-transform: uppercase;

  color: #b9ffd5;

  margin-bottom: 2rem;
}

.company {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

.job-title {
  font-size: 2rem;
  color: #b9ffd5;

  margin: 0.5rem 0 1rem 0;
}

.job-description {
  margin-bottom: 2rem;
}

details {
  color: #b9ffd5;
}

.job-left details {
  padding-left: 2rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.2;

  color: #b9ffd5;

  margin: 2rem 0 1rem 0;
}

.experience ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  font-size: 1.4;

  color: #fff;

  padding-left: 1.2rem;
}

.experience li {
  line-height: 1.2;
}

.offsides details,
.olearys details {
  text-align: left;
}

/* *************************************** */
/* DARK MODE****************************** */
/* *************************************** */

.dark-mode-checkbox:checked ~ div .experience {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .company {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .experience li {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .experience h1,
.dark-mode-checkbox:checked ~ div .job-title,
.dark-mode-checkbox:checked ~ div .date,
.dark-mode-checkbox:checked ~ div details,
.dark-mode-checkbox:checked ~ div h5,
.dark-mode-checkbox:checked ~ div .work-icon {
  color: #b9ffd5;
}

.dark-mode-checkbox:checked ~ div .time-line {
  border-left: 3px solid #b9ffd5;
}

.dark-mode-checkbox:checked ~ div .experience {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.8)
    ),
    url("../img/background.webp");
}

.dark-mode-checkbox:checked ~ div .company {
  color: #ccc;
}

/* *************************************** */
/* MEDIA QUERIES************************** */
/* *************************************** */

/* *************************************** */
/* 1000 px ******************************* */
/* *************************************** */

@media (max-width: 62.5em) {
  .container-inner {
    width: 90%;
  }
}
/* *************************************** */
/* 900 px ******************************* */
/* *************************************** */

@media (max-width: 56.25em) {
  .time-line {
    margin-top: 13rem;
  }

  .title {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  .work-icon {
    --ionicon-stroke-width: 6.4rem;

    width: 2.4rem;
    height: 2.4rem;
  }

  .job-right .date::before,
  .job-left .date::before {
    width: 1.6rem;
    height: 1.6rem;
  }

  .date {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .company {
    font-size: 2rem;
  }

  .job-title {
    font-size: 1.6rem;
  }

  .job-description {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  details {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}

/* *************************************** */
/* 700 px ******************************* */
/* *************************************** */

@media (max-width: 43.75em) {
  .container-inner {
    width: 80%;
  }

  .experience {
    display: flex;
    flex-direction: column;
  }

  .time-line {
    right: 95%;

    margin-top: 10rem;
  }

  .job-right .date::before,
  .job-left .date::before {
    right: 95%;
  }

  .job {
    text-align: left;
    padding: 4rem 0 2rem 4rem;
  }

  .job-left details {
    padding-left: 0;
  }
}

/* *************************************** */
/* 550 px ******************************* */
/* *************************************** */

@media (max-width: 34.375em) {
  .container-inner {
    width: 90%;
  }

  .time-line {
    right: 90%;
  }

  .job-right .date::before,
  .job-left .date::before {
    right: 90%;
  }
}

/* *************************************** */
/* 400 px ******************************* */
/* *************************************** */

@media (max-width: 25em) {
  .time-line {
    margin-top: 8rem;
  }

  .job {
    text-align: left;
    padding: 2rem 0 2rem 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .work-icon {
    --ionicon-stroke-width: 6.4rem;

    width: 2rem;
    height: 2rem;
  }

  .job-right .date::before,
  .job-left .date::before {
    width: 1.4rem;
    height: 1.4rem;
  }

  .date {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .company {
    font-size: 1.6rem;
    line-height: 1.1;
  }

  .job-title {
    font-size: 1.4rem;
  }

  .job-description {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  details {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

/* *************************************** */
/* 350 px ******************************* */
/* *************************************** */

@media (max-width: 21.875em) {
  .work-icon {
    display: none;
  }
}

/* ************************************************ */
/* PRINT QUERIES*********************************** */
/* ************************************************ */

@media print {
  details,
  .work-icon,
  .header,
  .time-line,
  footer {
    display: none;
  }

  .print {
    display: initial;
  }

  .container-inner {
    width: 100%;
  }

  .experience {
    box-shadow: none;
  }

  .mobile-nav--icon {
    opacity: 0;
  }

  .offsides {
    margin-bottom: 20rem;
  }
}
