.dark-mode-checkbox:checked ~ div .experience {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .company {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .experience li {
  color: #aaa;
}

.dark-mode-checkbox:checked ~ div .experience h1,
.dark-mode-checkbox:checked ~ div .job-title,
.dark-mode-checkbox:checked ~ div .date,
.dark-mode-checkbox:checked ~ div details,
.dark-mode-checkbox:checked ~ div h5,
.dark-mode-checkbox:checked ~ div .work-icon {
  color: #b9ffd5;
}

.dark-mode-checkbox:checked ~ div .time-line {
  border-left: 3px solid #b9ffd5;
}

.dark-mode-checkbox:checked ~ div .experience {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.8)
    ),
    url("../img/background.webp");
}

.dark-mode-checkbox:checked ~ div .company {
  color: #ccc;
}
