#resume {
  font-weight: 700;
  color: #297a4a;
}

.print {
  display: none;
}

.container-inner {
  margin: 3rem auto;
  width: 80%;
}

.experience {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr / repeat(7, 1fr);

  color: #fff;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url("../img/background.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  box-shadow: -1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.15);

  padding: 3rem;
}

.time-line {
  position: absolute;
  right: 51%;
  transform: translateX(50%);

  border-left: 3px solid #b9ffd5;

  margin-top: 16rem;

  height: 100%;

  animation: 5s draw-line;
}

@keyframes draw-line {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.job-right .date::before,
.job-left .date::before {
  content: " ";
  position: absolute;
  right: 51%;
  transform: translateX(50%);

  width: 2rem;
  height: 2rem;

  background-color: #b9ffd5;
  border-radius: 50%;
}

.wine {
  grid-column: 2;
  grid-row: 2;

  opacity: 100%;

  animation: 0.2s appear;
}

.offsides {
  grid-column: 1;
  grid-row: 3;
  text-align: right;

  opacity: 100%;

  animation: 1.2s appear;
}

.jimmys {
  grid-column: 2;
  grid-row: 4;

  animation: 1.8s appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  75% {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
.olearys {
  grid-column: 1;
  grid-row: 5;
  text-align: right;

  animation: 2.5s appear;
}

.job-right {
  padding: 4rem 2rem 4rem 5rem;
}

.job-left {
  padding: 4rem 5rem 4rem 2rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;

  margin: 2rem;
}

.work-icon {
  color: #b9ffd5;
  --ionicon-stroke-width: 5rem;

  width: 3rem;
  height: 3rem;
}

h1 {
  font-size: 3rem;

  color: #b9ffd5;
}

.date {
  font-size: 2rem;
  font-weight: inherit;
  text-transform: uppercase;

  color: #b9ffd5;

  margin-bottom: 2rem;
}

.company {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

.job-title {
  font-size: 2rem;
  color: #b9ffd5;

  margin: 0.5rem 0 1rem 0;
}

.job-description {
  margin-bottom: 2rem;
}

details {
  color: #b9ffd5;
}

.job-left details {
  padding-left: 2rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.2;

  color: #b9ffd5;

  margin: 2rem 0 1rem 0;
}

.experience ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  font-size: 1.4;

  color: #fff;

  padding-left: 1.2rem;
}

.experience li {
  line-height: 1.2;
}

.offsides details,
.olearys details {
  text-align: left;
}
