/* 900 px ***************************** */

@media (max-width: 56.25em) {
  .contact-info-section {
    padding: 8rem 3rem 4rem 3rem;
    width: 55%;
  }

  .contact-form-section {
    width: 45%;
  }

  .contact-info-text--bottom {
    margin-top: 8rem;
    text-align: center;
  }
}

/* 775 px ***************************** */

@media (max-width: 48.5em) {
  main {
    padding-top: 2rem;
  }

  .contact-info-container {
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url("../img/ryan.webp");
    background-size: cover;
    background-position: center;

    margin: 0 auto;

    border-radius: 6px;
  }

  .contact-info-section {
    width: 100%;
    padding: 2rem 3rem 0 3rem;
    background-image: none;
  }

  .contact-info-text {
    font-size: 2rem;
  }

  .contact-info-text--top {
    margin-bottom: 2rem;
  }

  .contact-info-text--bottom {
    margin: 3rem 0 2rem 0;
    text-align: center;
  }

  .contact-form-section {
    background-color: transparent;

    width: 100%;

    padding: 0;

    border-radius: 6px;
  }

  form {
    color: #297a4a;

    padding: 1rem;
  }

  label span {
    color: #297a4a;
  }

  input:focus + span,
  input:not(:placeholder-shown) + span,
  select:valid + span,
  textarea:valid + span,
  textarea:focus + span {
    color: #89be9e;
  }
}

/* 480 px ***************************** */

@media (max-width: 30em) {
  main {
    width: 90%;
  }

  .contact-info-section {
    padding: 2rem 0 0 0;
  }
}

/* 400 px ***************************** */

@media (max-width: 25em) {
  .contact-info-container {
    width: 90%;
  }

  .contact-info-section {
    padding: 0;
  }

  .contact-info-link {
    font-size: 1.6rem;
  }

  .contact-info-text {
    font-size: 1.6rem;
  }

  .contact-info-text--bottom {
    margin: 2rem 0;
    text-align: center;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.8rem 0;

    width: 8rem;
  }

  .download-btn {
    width: 20rem;
  }
}
